<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is the Talk Track Page for the BiteBuddy Demo">
    <meta name="keywords" content="responsive, web page">
    <meta name="author" content="Rod Morrison">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#000000">

    <title>BiteBuddy Demo Stories</title>
    <link rel="icon" image="type/png" href="/assets/images/" type="image/x-icon">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/talkTrack.css">


</head>

<body>

    <!--Nav Bar-->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark m-0 py-3 fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">BiteBuddy Demonstration Portal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto"> <!-- ms-auto pushes the nav items to the right -->
                    <li class="nav-item">
                        <a href="#resources" class="nav-link text-white">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a href="#demoStories" class="nav-link text-white">Demo Stories</a>
                    </li>
                    <li class="nav-item">
                        <a href="#sme" class="nav-link text-white">Sales Team Support</a>
                    </li>
                    <li class="nav-item">
                        <a href="/views/oaidemo/login.html" class="nav-link text-white">BiteBuddy Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--End of Navbar-->

    <!-- Showcase / Hero Banner -->
    <section id="resources" class="bg-dark text-light p-5  text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1>BiteBuddy <span class="text-warning">
                            Demonstration Portal</span>
                    </h1>
                    <p class="col-10 lead my-4">
                        This is a resource for BiteBuddy Sales and Support to demonstrate the BiteBuddy Platform.
                    </p>
                    <a href="#demoStories">
                        <button class="btn btn-outline-light btn-lg">Demo Stories</button>
                    </a>
                </div>
                <img class="img d-none d-sm-block rounded-circle" src="/assets/images/biteBuddy_AutoGen.png" alt="">
            </div>
        </div>
    </section>
    <!-- Link Boxes-->
    <section class="p-5">
        <div class="container">
            <div class="row text-center g-4 d-sm-flex justify-content-between">
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text center">
                            <div class="h1 mb-3">
                                <div class="i bi bi-laptop"></div>
                            </div>
                            <h3 class="card-title mb-3">
                                Internal Resources
                            </h3>
                            <p class="card-text">
                            <ul class="list-group list-group-flush lead">
                                <a href="#" class="text-warning text-decoration-none mb-2" >
                                    <li class="list-group item">Sales Enablement Portal</li>
                                </a>
                                <a href="#" class="text-warning text-decoration-none mb-2" >
                                    <li class="list-group item">BiteBuddy Sales Decks</li>
                                </a>
                                <a href="#" class="text-warning text-decoration-none mb-2" >
                                    <li class="list-group item">Sales Agreement</li>
                                </a>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text center">
                            <div class="h1 mb-3">
                                <div class="i bi bi-cloud"></div>
                            </div>
                            <h3 class="card-title mb-3">Public Resources</h3>
                            <ul class="list-group list-group-flush lead">
                                <li class="list-group-item bg-dark">
                                    <a href="#" class="text-warning text-decoration-none mb-2">BiteBuddy
                                        Voice &amp; Text Ordering</a>
                                </li>
                                <li class="list-group-item bg-dark">
                                    <a href="#" class="text-warning text-decoration-none mb-2" >BiteBuddy
                                        Latest News</a>
                                </li>
                                <li class="list-group-item text-warning bg-dark">
                                    <a href="#" class="text-warning text-decoration-none mb-2" >BiteBuddy
                                        Resources</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="text center">
                            <div class="i bi bi-cloud h1 pt-3"></div>
                            <div class="card-title h3">Competitor Resources</div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush lead">
                                    <li class="list-group-item bg-dark">
                                        <a href="#" class="text-warning">SoundHound</a>
                                    </li>
                                    <li class="list-group-item bg-dark">
                                        <a href="#" class="text-warning">SpeakEasy</a>
                                    </li>
                                    <li class="list-group-item bg-dark">
                                        <a href="#" class="text-warning">Google</a>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Demo Stories Accordion-->

    <section id="demoStories-banner" class="p-5">
        <div class="conainer demo-container">
            <h2 class="text-center mb-4 text-white">
                BiteBuddy Demo Stories
            </h2>

            <div class="accordion accordion-flush" id="demoStories">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#storyOne">
                            The Digital Leap in Restaurant Ordering
                        </button>
                    </h3>
                    <div id="storyOne" class="accordion-collapse collapse lh-base" data-bs-parent="#demoStories">
                        <div class="accordion-body bg-light">
                            <p>
                                Your business is a place of consistency in a rapidly changing world. But our greatest
                                adversary is inaction, a resistance to change while opportunity knocks in an evolving
                                digital landscape.
                            </p>

                            <p class="fw-bold">
                                <em> What if you could break away from the status quo, embrace the digital era with
                                    call-in
                                    order automation?
                                </em>
                            </p>
                            <p>
                                Consider this; over 5 million orders have been successfully placed using the phone bot,
                                which has an impressive 92% completion rate, clearly demonstrating adoption of the
                                technology.
                            </p>

                            <p class="fw-bold">
                                Not just that, it brings in 14% more profit compared to orders placed through
                                third-party
                                delivery services.
                            </p>
                            <p class="fw-bold">
                                29% of users who received BiteBuddy text marketing placed one or more orders, creating a
                                clear path to increased revenue.
                            </p>
                            <p class="fw-bold">
                                <em>
                                    How are you managing call-in orders today?
                                </em>
                            </p>
                            <p>
                                Imagine Lisa, a loyal customer for years. When she calls, she hears a familiar voice,
                                powered by BiteBuddy, that effortlessly takes her order on the first ring.
                            </p>
                            <p class="fw-bold">
                                Our customers are realizing about a 9% increase in annual transactions, which for Joe's
                                Pizza is 100 million dollars.
                            </p>
                            <p>
                                A week later, having opted in for marketing, Lisa receives a text message. A gentle
                                nudge
                                reminding her of the delicious meal she ordered. With a simple text response, she can
                                repeat
                                her favorite order, add, or remove items. Text ordering is an optimal coupon delivery
                                mechanism to incentive your guests. If she prefers to call, BiteBuddy guarantees her
                                next
                                meal
                                without a hitch.
                            </p>
                            <p class="fw-bold">
                                20% of text-ordering customers place 2 or more orders per month.
                            </p>
                            <p>
                                On average BiteBuddy ticket values are a dollar more than the average call-in ticket due
                                to
                                upselling every time. This is not about keeping up with the times; it is about elevating
                                the
                                guest experience, ensuring order accuracy, consistent upselling, and eradicating call
                                wait
                                times, all while preserving your brand identity.
                            </p>
                            <p>
                                The world has evolved, so have the customer's expectations.
                            </p>
                            <p class="fw-bold pt-3">
                                <em>
                                    What is stopping you from breaking free from the status quo?
                                </em>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#storyTwo">
                            Smart Solutions to Labor challenges in Restaurant Operations
                        </button>
                    </h2>
                    <div id="storyTwo" class="accordion-collapse collapse" data-bs-parent="#demoStories">
                        <div class="accordion-body bg-light">
                            <p>
                                In today's restaurant industry, labor is more than challenging; it is a daily reality.
                            </p>
                            <p class="fw-bold">
                                Average wages have surpassed $13/hour, an all-time high. Yet the restaurant industry has
                                a
                                staggering 6.9% turnover rate, the highest of any industry.
                            </p>
                            <p class="fw-bold">
                                In 2023, customer complaints about long hold times have increased by 23%.
                            </p>
                            <p class="fw-bold">
                                91% of them expect to wait no more than three minutes to place a phone order, with 25%
                                and
                                19% expecting to wait less than two and one minute, respectively.
                            </p>
                            <p class="fw-bold">
                                <em>
                                    Is this something you are experiencing today?
                                    <br>
                                    Can you describe or walk us through what those interuptions look like?
                                </em>
                            </p>
                            <p>
                                The typical scenario is a busy restaurant, stretched staff, and the risk of error in a
                                high-pressure environment. There is a solution, one that has proven to deliver not just
                                relief but opportunity and growth.
                            </p>
                            <p class="fw-bold">
                                <em>
                                    What if you could use an AI phone bot for taking call-in orders in your restaurant?
                                </em>
                            </p>
                            <p>
                                Meet your new employee, BiteBuddy. BiteBuddy will manage a sizable portion of the work
                                traditionally done by your team. Automating the task of taking call-in orders enables
                                you to
                                reallocate your staff to more strategic areas, improving your overall operations and
                                service
                                delivery.
                            </p>
                            <p>
                                Your team can spend more time with customers, enhancing the guest experience and
                                providing
                                the personal touch that drives loyalty and brand preservation.
                            </p>
                            <p>
                                The benefits go beyond operational efficiency. You create a healthier work environment
                                by
                                reducing your team's workload, increasing employee satisfaction, and reducing turnover.
                            </p>
                            <p>
                                BiteBuddy not only ensures order accuracy, but also promotes an easy text ordering
                                system
                                for
                                repeat orders, creating habitual repeat business that is vital in today's competitive
                                marketplace.
                            </p>
                            <p>
                                Integrating BiteBuddy into your restaurant's operations allows you to efficiently manage
                                labor
                                shortages, increase employee satisfaction, and help your business grow.
                            </p>
                            <p class="fw-bold">
                                <em>
                                    Isn't it time to address your labor challenges head on?
                                </em>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#storyThree">
                            Leveraging AI to Perfect the Guest Experience
                        </button>
                    </h2>
                    <div id="storyThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                        data-bs-parent="#demoStories">
                        <div class="accordion-body bg-light">
                            <p>
                                In today's world, expectations are high, and guests can be demanding. Order inaccuracies
                                or poor service can lead to negative reviews that can significantly impact on your
                                restaurant's reputation.
                            </p>
                            <p class="fw-bold">
                                <em>
                                    Is your team getting orders right 100% of the time?
                                </em>
                            </p>
                            <p class="fw-bold">
                                <em>
                                    What if you could create a guest experience where phone and text orders are correct
                                    100% of
                                    the time?
                                </em>
                            </p>
                            <p>
                                Picture this: Technology meets customer service to create an amazing guest experience.
                                Satisfied customers lead to repeat business and great reviews.
                            </p>
                            <p>
                                Meet BiteBuddy, a solution designed for efficiency and unprecedented order accuracy. The
                                platform eliminates human error and ensures that every order is perfect.
                            </p>
                            <p>
                                How happy will everyone be when your guests get exactly what they ordered?
                            </p>
                            <p class="fw-bold">
                                Our customers experience a 92% completion rate for orders initiated by BiteBuddy,
                                confirming
                                adoption.
                            </p>
                            <p>
                                But the innovation does not stop with phone orders. BiteBuddy makes it easy to order via
                                text
                                message. A feature that appeals to most demographics, increasing order accuracy and
                                guest
                                experience and satisfaction.
                            </p>
                            <p>
                                Lisa is a regular customer. She prefers not to communicate via phone when ordering. She
                                opts-in for the text message order feature. A week later, she receives a gentle text
                                reminder. With a simple text response, she can easily repeat her previous order or place
                                a new one.
                            </p>
                            <p class="fw-bold">
                                20% of text ordering customers place two or more orders a month, which increases your
                                bottom
                                line.
                            </p>
                            <p>
                                Order accuracy saves money and lowers your operating costs by reducing waste and labor
                                costs
                                to correct errors. You have access to a portal to review call and text orders to ensure
                                brand standards are being met.
                            </p>
                            <p>
                                The platform allows you to provide each guest with a personalized experience, from order
                                placement to product delivery, based on their preferences. Think about the results -
                                happier
                                customers, an increase in the number of positive reviews and a decrease in negative
                                feedback.
                            </p>
                            <p class="fw-bold">
                                <em>
                                    What is stopping you from providing a guest experience that is one of the best in
                                    the
                                    industry?
                                </em>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#storyFour">
                            BiteBuddy: Where Every Call is a Priority
                        </button>
                    </h2>
                    <div id="storyFour" class="accordion-collapse collapse" data-bs-parent="#demoStories">
                        <div class="accordion-body bg-light">
                            <p>
                                In today's restaurant environment, the phone ringing off the hook, creating a bottleneck
                                and keeping customers waiting is a situation no restaurant owner wants. Consumers today
                                are
                                not willing to wait, according to a recent survey:
                            </p>
                            <p class="fw-bold">
                                91% of them expect to wait no more than three minutes to place a phone order, with 25%
                                and 19% expecting to wait less than two and one minute, respectively.
                            </p>
                            <p>
                                Restaurant labor shortages exacerbate this problem, with most consumers citing longer
                                wait times to place and receive orders as a significant pain point.
                            </p>
                            <p class="fw-bold">
                                <em>
                                    Are you experiencing similar challenges at your restaurant?
                                </em>
                            </p>
                            <p class="fw-bold">
                                72% of consumers say they would choose to use an automated phone bot to place an order
                                to ensure efficiency and accuracy.
                            </p>
                            <p class="fw-bold">
                                <em>
                                    What if you could solve this problem?
                                </em>
                            </p>
                            <p>
                                Meet BiteBuddy, a system designed to speed up your service by answering all your calls
                                on
                                the first ring. BiteBuddy answers calls to take orders immediately, eliminating call
                                hold
                                times that are a significant pain point for your guests.
                            </p>
                            <p>
                                BiteBuddy will upsell every time, answer administrative calls, and provide an innovative
                                feature that caters to the modern guest - text message ordering. A solution that opens a
                                new, efficient channel for placing orders.
                            </p>
                            <p>
                                Lisa is a regular customer who prefers to text rather than call. After her first call in
                                order, she can opt-in for SMS ordering and marketing and places her order quickly and
                                easily
                                on her terms.
                            </p>
                            <p class="fw-bold">
                                20% of text ordering customers place two or more orders per month, increasing sales and
                                guest satisfaction.
                            </p>
                            <p>
                                With background noise, poor cell reception, or your restaurant on a busy weekend, 57% of
                                consumers doubt the accuracy of their orders. BiteBuddy assures them of your attention
                                to
                                detail and builds trust in your brand.
                            </p>
                            <p>
                                BiteBuddy can be your ticket to success. Your restaurant runs like a well-oiled machine,
                                with
                                no one placed on hold. Every call is managed with the utmost professionalism and a
                                personal
                                touch.
                            </p>
                            <p class="fw-bold">
                                <em>
                                    Isn't it time to take your restaurant service to the next level?
                                </em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End of Accordion-->

    <!--Sales Team Support-->
    <section id="sme" class="p-5 bg-dark">
        <div class="container">
            <h2 class="text-center text-white">
                Sales Team Support
            </h2>
            <p class="lead text-center text-white mb-5">
                We are here to help you ACCELERATE &amp; CLOSE DEALS!!!
            </p>
            <hr>
            <div class="row g-4">
                <div class="col-md-6 col-lg-4">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <img src="/assets/images/VP.jpg" class="rounded-circle  mb-3" alt="">
                            <h3 class="card-title mb-3">Alex Anderson</h3>
                            <p class="card-text lead">
                                Vice President of Sales
                            </p>
                            <a href="mailto:Alex.Anderson@coderodsolutions.com">Alex.Anderson@coderodsolutions.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <img src="/assets/images/PM.jpg" class="rounded-circle  mb-3 rounded-5" alt="">
                            <h3 class="card-title mb-3">Erica Hanson</h3>
                            <p class="card-text"></p>
                            <p class="card-text lead">
                                Director Product Marketing
                            </p>
                            <a href="mailto:Erica.Hanson@coderodsolutions.com">Erica.Hanson@coderodsolutions.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <img src="/assets/images/rod.jpeg" class="rounded-circle  mb-3" alt="">
                            <h3 class="card-title mb-3">Rod Morrison</h3>
                            <p class="card-text lead">
                                Sales Engineer
                            </p>
                            <a href="mailto:rod.morrison@coderodsolutions.com">Rod.Morrison@coderodsolutions.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer id="main-footer" class="p-5 bg-dark text-white text-center position-relative">
        <div class="container">
            <p class="lead text-white">
                Copyright &copy; 2023 CodeRod Solutions All Rights Reserved
                <a href="#" class="position-absolute bottom-0 end-0 p-5">
                    <i class="bi bi-arrow-up-circle h1"> </i>
                </a>
            </p>
        </div>
    </footer>

    <!--JavScript Goes below here-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Project JS-->
    <!--    <script src="/assets/js/main.js"></script> -->


</body>

</html>